@import "tailwindcss";

@import "./assets/fonts/fonts.css";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes opacity-blink {
  0%,
  50% {
    opacity: 100%;
  }
  51%,
  100% {
    opacity: 0%;
  }
}

@theme {
  --font-family-shoulders: "BigShoulders", sans-serif;
  --animate-blink: opacity-blink 0.75s infinite;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #414141;
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  scrollbar-width: 8px;
  font-family: "SpaceMono", monospace;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
